<?xml version="1.0"?>
<config>
  <modules>
    <Snowdog_Payall>
      <version>1.0.0</version>
    </Snowdog_Payall>
  </modules>
  <global>
    <models>
      <payall>
        <class>Snowdog_Payall_Model</class>
      </payall>
    </models>
    <helpers>
      <payall>
        <class>Snowdog_Payall_Helper</class>
      </payall>
    </helpers>
    <blocks>
      <payall>
        <class>Snowdog_Payall_Block</class>
      </payall>
    </blocks>
  </global>
  <frontend>
		<routers>
			<payall>
				<use>standard</use>
				<args>
					<module>Snowdog_Payall</module>
					<frontName>payall</frontName>
				</args>
			</payall>
		</routers>
	</frontend>
	<default>
		<payment>
			<payall>
				<active>1</active>
				<title>Payall</title>
				<model>payall/payment</model>
        <order_status>1</order_status>
        <environment>sandbox</environment>
			</payall>
		</payment>
		<payall>
      <settings>
        <new_payment_url></new_payment_url>
        <sandbox_new_payment_url>https://pay.test.payall.com.gh/new-payment</sandbox_new_payment_url>
        <error_log_filename>payall-error-log.log</error_log_filename>
      </settings>
    </payall>
	</default>
</config>
