<?xml version="1.0"?>
<config>
  <modules>
    <Snowdog_Payall>
      <version>1.0.0</version>
    </Snowdog_Payall>
  </modules>
  <global>
    <models>
      <payall>
        <class>Snowdog_Payall_Model</class>
      </payall>
    </models>
    <helpers>
      <payall>
        <class>Snowdog_Payall_Helper</class>
      </payall>
    </helpers>
    <blocks>
      <payall>
        <class>Snowdog_Payall_Block</class>
      </payall>
    </blocks>
  </global>
  <frontend>
		<routers>
			<payall>
				<use>standard</use>
				<args>
					<module>Snowdog_Payall</module>
					<frontName>payall</frontName>
				</args>
			</payall>
		</routers>
		<layout>
			<updates>
				<payu_account module="PayU_Account">
					<file>payu_account.xml</file>
				</payu_account>
			</updates>
		</layout>
		<translate>
			<modules>
				<PayU_Account>
					<files>
						<default>PayU_Account.csv</default>
					</files>
				</PayU_Account>
			</modules>
		</translate>
	</frontend>
	<default>
		<payment>
			<payall>
				<active>1</active>
				<title>Payall</title>
				<model>payall/payment</model>
        <order_status>1</order_status>
			</payall>
		</payment>
		<payall>
      <settings>
        <error_log_filename>payall-error-log.log</error_log_filename>
      </settings>
    </payall>
	</default>
</config>
